@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Crimson Text";
	src: url("../fonts/CrimsonText-Regular.ttf");
}
@font-face {
	font-family: "Crimson Text";
	src: url("../fonts/CrimsonText-SemiBold.ttf");
	font-weight: bold;
}

:root {
	--primary: #23b150;
	--success: #23b150;
	--danger: #de4343;
	--black: #000000;
	--white: #ffffff;
	--font-regular: #212529;
	--font-family-title: "Crimson Text", serif;
	--font-family-regular: "Open Sans", sans-serif;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: var(--font-family-regular);
	font-size: 14px;
	line-height: 1.3;
	color: var(--font-regular);
	background-color: var(--white);
}
a {
	text-decoration: none;
}
.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.text-primary {
	color: var(--primary);
}
.text-white {
	color: var(--white);
}

/* Begin::Header */
.logo {
	height: 50px;
	background-color: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img {
	height: 50px;
}
.header {
	height: 85px;
	display: flex;
	align-items: center;
	border-top: 3px solid var(--primary);
	border-bottom: 4px solid var(--primary);
}
.header .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.page-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 30px;
	letter-spacing: 1px;
}
.page-title img {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}
.auth {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.auth a {
	font-weight: bold;
	color: #aaa;
}
.auth .separator {
	width: 2px;
	height: 26px;
	display: inline-block;
	background-color: var(--primary);
	margin-left: 15px;
	margin-right: 15px;
}
/* End::Header */

/* Begin::Content */
.content {
	padding-top: 45px;
	padding-bottom: 45px;
	background: #ddd;
	background: radial-gradient(circle, rgba(211,211,211,1) 0%, rgba(234,234,234,1) 35%, rgba(190,190,190,1) 100%);
}
.content .title {
	font-family: var(--font-family-title);
	font-size: 42px;
	font-weight: bold;
	text-align: center;
}
.content .subtitle {
	width: 490px;
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid var(--primary);
	border-bottom: 2px solid var(--primary);
	font-family: var(--font-family-title);
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.description {
	text-align: justify;
}
.benefit-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
	position: relative;
}
.benefit {
	width: 60%;
}
.benefit-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}
.benefit-title img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}
.benefit-key {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}
.benefit-key ul {
	width: 65%;
	list-style: none;
}
.benefit-key li:not(:first-child) {
	margin-top: 35px;
}
.benefit-key .key {
	font-size: 16px;
	font-weight: bold;
}
.benefit-key img {
	height: 339px;
}
.download {
	position: relative;
}
.card {
	border-radius: 10px;
	background-color: var(--white);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	padding: 20px 30px;
}
.download .card {
	width: 350px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
}
.download-title {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: left;
}
.download .form {
	margin-top: 20px;
}
.alert-danger {
	font-size: 12px;
	color: var(--danger);
	margin-top: -10px;
	margin-bottom: 10px;
}
.alert-success {
	font-size: 12px;
	color: var(--success);
	margin-top: -10px;
	margin-bottom: 10px;
}
.form-control {
	width: 100%;
	height: 34px;
	border: 1px solid #ccc;
	box-shadow: 0px 5px 5px -3px rgba(33, 35, 38, 0.1);
	margin-bottom: 8px;
	padding: 0 10px;
}
.form-control::placeholder {
	color: var(--font-regular);
}
.form-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.form-group .form-control.prefix {
	width: 60px;
	margin-right: 10px;
}
.privacy {
	font-size: 12px;
}
.btn {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 10px;
}
.btn:hover {
	cursor: pointer;
}
.btn-primary {
	background-color: var(--primary);
	color: var(--white);
}
.download .btn {
	width: 85%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.download-arrow-wrapper {
	width: 73%;
	position: absolute;
	left: 0;
	bottom: -65px;
	display: flex;
	z-index: 10;
}
.download-arrow-triangle-bottom-right {
	width: 0;
	height: 0;
	border-bottom: 40px solid #d7bb19;
	border-left: 40px solid transparent;
}
.download-arrow-body {
	height: 40px;
	flex-grow: 1;
	background: #d7bb19;
	background: linear-gradient(90deg, rgba(215,187,25,1) 0%, rgba(246,215,29,1) 100%);
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.download-arrow-triangle-right {
	width: 0;
	height: 0;
	border-left: 25px solid #f6d71d;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
.download-arrow-chevron-top,
.download-arrow-chevron-bottom {
	position: absolute;
	right: 0px;
}
.download-arrow-chevron-top {
	transform: rotate(45deg);
	top: 6px;
}
.download-arrow-chevron-bottom {
	transform: rotate(-45deg);
	bottom: 6px;
}
.download-arrow-chevron-top:before,
.download-arrow-chevron-bottom:before {
	width: 29px;
	height: 8px;
	content: '';
	display: block;
	background: #b9a007;
}
.download-arrow-chevron-top:before {
	transform: skew(-43deg);
}
.download-arrow-chevron-bottom:before {
	transform: skew(43deg);
}
/* End::Content */

/* Begin::TKI */
.tki {
	padding-top: 60px;
	padding-bottom: 60px;
}
.tki .title {
	margin-top: 40px;
	margin-bottom: 60px;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1px;
}
.tki-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.count-item {
	width: 15%;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0.5px;
}
.count-item img {
	width: 58px;
}
.count-item .count {
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
}
/* End::TKI */

/* Begin::Contact */
.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 25px 60px 35px 60px;
	border-left: 15px solid var(--primary);
	border-right: 15px solid var(--primary);
	margin-left: 8px;
	margin-right: 8px;
	background-color: #323232;
	font-size: 15px;
}
.contact-item {
	width: 27%;
	display: flex;
}
.contact-item img {
	height: 23px;
	margin-top: 5px;
	margin-right: 15px;
}
.contact .title {
	font-size: 22px;
	margin-bottom: 20px;
}
/* End::Contact */

.footer {
	padding: 17px 17px 20px;
	text-align: center;
	font-size: 15px;
}


/* Begin::Responsive CSS */
@media only screen and (max-width: 1200px) {
	.container {
		width: 80%;
	}
	.download .card {
		width: 330px;
	}
	.download-arrow-wrapper {
		width: 69%;
	}
}

@media only screen and (max-width: 1172px) {
	.content {
		padding-bottom: 30px;
	}
	.benefit-key ul {
		margin-top: 0;
	}
	.benefit-key li:not(:first-child) {
	    margin-top: 30px;
	}
	.download-arrow-wrapper {
		width: 68%;
		bottom: -50px;
	}
}

@media only screen and (max-width: 1110px) {
	.container {
		width: 85%;
	}
	.benefit-key img {
	    height: 339px;
	}
	.download-arrow-wrapper {
		width: 65%;
	}
}

@media only screen and (max-width: 1000px) {
	.content {
	    padding-bottom: 90px;
	}
	.download .card {
		width: 300px;
	}
	.download-arrow-wrapper {
		width: 67%;
		bottom: -110px;
	}
}

@media only screen and (max-width: 992px) {
	.benefit {
	    width: 55%;
	}
	.benefit-key img {
		display: none;
	}
	.benefit-key ul {
		width: 90%
	}
	.benefit-key li:not(:first-child) {
	    margin-top: 35px;
	}
	.download .card {
		width: 320px;
	}
	.download-arrow-wrapper {
		width: 65%;
	}
}

@media only screen and (max-width: 930px) {
	.content {
	    padding-bottom: 70px;
	}
	.download-arrow-wrapper {
		display: none;
	}
}

@media only screen and (max-width: 880px) {
	.contact {
		padding-left: 45px;
		padding-right: 45px;
	}
	.contact-item {
		width: 30%;
	}
	.contact .title {
	    font-size: 18px;
	    margin-bottom: 15px;
	}
	.contact-item img {
	    height: 18px;
	}
}

@media only screen and (max-width: 800px) {
	.page-title {
		font-size: 24px;
	}
	.page-title img {
		width: 30px;
		height: 30px;
	}
	.content {
	    padding-bottom: 60px;
	}
	.content .title {
		font-size: 30px;
	}
	.content .subtitle {
		width: 410px;
		font-size: 20px;
	}
	.benefit {
		width: 50%;
	}
	.benefit-title {
		font-size: 16px;
	}
	.count-item {
		width: 20%;
		font-size: 18px;
	}
	.count-item .count {
		font-size: 21px;
	}
	.contact {
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (max-width: 780px) {
	.contact {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.container {
		width: 90%;
	}
	.tki-content {
		justify-content: center;
	}
	.count-item {
		width: 30%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.count-item:nth-child(n+4) {
		margin-top: 30px;
	}
	.count-item .count {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 705px) {
	.content {
	    padding-bottom: 30px;
	}
	.contact {
		font-size: 14px;
	}
	.contact-item {
		width: 50%;
	}
	.contact-item:nth-child(n+3) {
		margin-top: 25px;
	}
	.contact-item img {
		width: 20px;
		object-fit: contain;
		margin-top: 3px;
	}
}

@media only screen and (max-width: 670px) {
	.benefit {
		width: 100%;
	}
	.benefit-key {
		padding-top: 25px;
	}
	.benefit-key li:not(:first-child) {
	    margin-top: 25px;
	}
	.download {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.download .card {
		width: 350px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	.tki .title {
		margin-top: 0;
		font-size: 24px;
	}
	.count-item {
		font-size: 16px;
	}
	.count-item .count {
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px) {
	.logo img {
		height: 40px;
	}
	.page-title {
		font-size: 20px;
	}
	.content .title {
		font-size: 24px;
	}
	.content .subtitle {
		width: 370px;
		font-size: 18px;
	}
	.tki .title {
		font-size: 20px;
	}
	.tki-content {
		justify-content: flex-start;
	}
	.count-item {
		width: 50%;
	}
	.count-item:nth-child(n+3) {
		margin-top: 20px;
	}
	.count-item .count {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 485px) {
	.header {
		height: 90px;
	}
	.page-title {
		flex: 100%;
	}
	.auth {
		margin-top: 10px;
	}
	.auth .separator {
		height: 20px;
		margin-left: 8px;
		margin-right: 8px;
	}
	.content .subtitle {
		width: 80%;
	}
	.content .subtitle > div{
		display: inline;
	}
	.contact-item {
		width: 100%;
	}
	.contact-item:nth-child(n+2) {
		margin-top: 25px;
	}
}

@media only screen and (max-width: 400px) {
	.benefit-title {
		align-items: flex-start;
	}
	.download .card {
		width: 100%;
	}
	.tki {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.tki .title {
		margin-bottom: 30px;
	}
	.count-item {
		width: 100%;
	}
	.count-item:not(:first-child) {
		margin-top: 20px;
	}
	.count-item .count {
		margin-top: 5px;
	}
}

@media only screen and (max-width: 320px) {
	.page-title {
		font-size: 18px;
	}
	.content .subtitle {
		width: 100%;
	}
}
/* End::Responsive CSS */
